$head-color:#2c3d92;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin flex(){
    display: flex;
}

@mixin marpad($addpadding,$addmargin) {
    padding:$addpadding;
    margin: $addmargin;
}

@mixin widthon($widthadd){
    width: $widthadd;
}

.language-chage{
    display: flex;
    @include widthon(63px);
    align-items: center;
}

.head{
    background-color: $head-color;
    @include marpad(15px,0);
    position: relative;
}

.Right-top{
    display: flex;
    align-items: center;
    position: relative;
}

.main-profile{
 display: flex;
 height: 26.5px;
 align-items: center
}

.basket{
    @include flex();
    color: white;
    position: relative;
}

.profile{
    @include flex();
    color: white;
}

.profile i {
    margin:0 4px;
}

.basket h5{
    margin: 0 5px;
}

.between1{
    background-color: white;
    height: 4px;
    width: 4px;
    border-radius: 100%
}

.between2{
    background-color: white;
    height: 4px;
    width: 4px;
    border-radius: 100%;
    margin: 1px 0;
}

.between3{
    background-color: white;
    height: 4px;
    width: 4px;
    border-radius: 100%
}

.thailand{
    @include marpad(0 5px,0);
}

.thailand-size{
    @include widthon(100%);
    }

.english-size{
    @include widthon(80%);
    }

.top-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

.search input{
    @include marpad(6px 12px,0);
    color:#555;
    font-size: 14px;
    width: 100%;
    }

.logo-search{
    background-color:#F2591D ;
    height: 33px;
    display: flex;
    align-items: center;
    }

.search{
    @include flex();
    align-items: center;
    display: flex;
    justify-content: flex-end;
    }

.catagory{
    @include marpad(6px 12px,0 );
    border-radius: 0;
    border: 1px solid gray;
    font-size: 13px;
    height: 33px;
    white-space: nowrap;
    }

.search i{
    @include marpad(6px 12px,0 );
    font-size:14px;
    }

    .basket h5{
        white-space: nowrap;
    }

    .profile h5{
        white-space: nowrap;
    }

.back-basket{
    background-color: #f2a71d;
    border-radius: 100px;
    font-size: 0.8rem;
    align-items: center;
    display: flex;
    position: absolute;
    top: 6px;
    left: 8px;
    opacity: 70%;
    width: 13px;
    height: 13px;
    }

.num-basket{
    position: absolute;
    top: 6px;
    left: 6px;
    color: black;
    }

.triangle {
    display: inline-block;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    }

    .contant{
        @include marpad(10px 10px,10px 5px);
        background-color: white;
    }

    .contant h1{
        margin-bottom: 15px;
        font-weight: 700;
        font-size: 26px;
        word-break: break-all;
    }


    .show-product img{
        width: 100%;
    }



    .view{
        height: 50px;
        width: 50px;
        border:1px solid rgba(207, 207, 207, 0.428);
        display: grid;
        position: relative;
        place-items: center;
        @include marpad(0,0 2px );
    }

    .view img{
        padding: 2px;
        display: block;
    }

    .more-product{
        display: flex;
        flex-direction: column;
    }

    .more-product img{
        width: 50px;
        padding: 4px;
    }


    .top-view{
        display: flex;
    }

    .top-view div{
        width: 100%;
    }

    .bottom-view div{
        width: 100%;
    }

    .bottom-view{
        display: flex;
        margin-top: 5px;
        width: 50%;
    }

  body{
    background-color: #EBEBED;
    } 

  @media screen and (min-width: 768px) {
    .search input{
        width: 100%;
    }
    }

  @media screen and (min-width:1024px) {


    .search{
       position: absolute;
       top: 25%;
       left: 10%;
    }

    .Left-top img{
    width: 50px;
    }

    .search input{
        width: 480px;
    }
  }

  @media screen and (min-width:1400px){
    .search input{
        width: 800px;
    }

    .Left-top img{
        width: 70px;
        }

        body{
            font-size: 18px;
        }

        .num-basket{
            font-size: 14px;
            left: 8px;
        }

        .back-basket{
            width: 16px;
            height: 16px;
        }

        .thailand-size{
            display: flex;
            width: 35px;
            justify-content: center;
        }

        .english-size{
            display: flex;
            width: 28px;
            justify-content: center;
        }
  }